{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Действительно удалить блог: {{ object.title }}?</p>
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a href="{% url 'blogs:list' %}" class="btn btn-success">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{%  endblock %}