{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}

{% autoescape off %}
Добро пожаловать!

Получено заявление на сброс вашего пароля для учетной записи с этим адресом электронной почты.

Если вы не запрашивали сброс пароля, проигнорируйте это письмо.

Чтобы сбросить пароль, щелкните на следующую ссылку:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Спасибо за использование нашего сервиса!

С уважением,
Команда поддержки
{% endautoescape %}
{% endblock %}