{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <div class="card-footer">
                            <a type="button" href="{% url 'users:send_new_password' %}" class="btn btn-primary">
                                Отправить новый пароль по Еmail
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}